<!--first slider-->
<section class="main-slider my-3">
    <div class="container-fluid my-3">
        <div class="row g-0 mx-auto">
            <div class="col-12 col-md-9">
                <owl-carousel-o [options]="mainSlider">
                    <ng-template carouselSlide>
                        <img class="w-100" height="400px" src="./assets/images/slider-image-3.jpeg" alt="">
                    </ng-template>  
                    <ng-template carouselSlide>
                        <img class="w-100" height="400px" src="./assets/images/slider-image-2.jpeg" alt="">
                    </ng-template>  
                    <ng-template carouselSlide>
                        <img  class="w-100" height="400px" src="./assets/images/slider-image-1.jpeg" alt="">
                    </ng-template>  
                     
                  </owl-carousel-o>

            </div>
            
            <div class="col-12 col-md-3">
                <img class="w-100" height="200px" src="../../../assets/images/slider-image-1.jpeg" alt="">
                <img class="w-100" height="200px" src="../../../assets/images/slider-image-2.jpeg" alt="">
            </div>
        </div>
    </div>


</section>



<!--categories-->
<section class="cat-slider my-3">
    <p class="ms-3 fs-4 mt-4">Shop Popular Categories</p>
    <owl-carousel-o [options]="customOptions">

        @for (category of categoriesData ; track category._id ) {
            <ng-template carouselSlide >
                <img class="w-100" height="200px" [src]="category.image" [alt]="category.name" >
              </ng-template>
        }
    
      </owl-carousel-o>
    
</section>

<!--Products-->
<div class="container">
    <h1 class=" text-center border-top border-bottom  border-sucess mt-3 w-50 mx-auto py-2 fw-bold">Popular Products</h1>
    <input [(ngModel)]="searchValue" type="text" placeholder="search by name...." class=" mx-auto w-50 form-control product my-3 py-2 ">

    <div class="row">
        @for (product of productData | searchpipe : searchValue; track product._id) {
            <div class="col-md-2 col-sm-6 col-11 mx-auto p-2">
                <div class="product p-2 rounded-2" >
                   <div [routerLink]="['/main/productDetails' ,product.id]">
                    <div class="img">
                        <img class="w-100" [src]="product.imageCover" alt="">
                    </div>
                    <div class="product-caption">
                        <h2 class="fs-6 text-main pt-2">{{product.category.name}}</h2>
                        <h1 class="fs-6 fw-bold">{{product.title.split(' ').splice(0,2).join(' ')}}</h1>
                        <div class="d-flex justify-content-between small">
                            <span>{{product.price}} EGP</span>
                            
                               <div>
                                @for (star of [1,2,3,4,5].slice(0,product.ratingsAverage); track $index) {
                                    <span> <i class="fa-solid fa-star rating-color"></i></span>
                                    
                                }
                                @if (product.ratingsAverage%1!=0) {
                                    <span><i class="fa-solid fa-star-half-stroke rating-color"></i></span>
                                }
                                <span>{{product.ratingsAverage}}</span>
                               </div>
                                
                            
                        </div>
                        
                    </div>
                    
                   </div>
                   <div class="icon d-flex justify-content-end"><i (click)="addItemToWishlist(product._id)" class="fa-solid fa-heart fs-5 mt-3"></i></div>
                    <button (click)="addItem(product.id)" class="w-100 btn-main mt-1">add to cart   <i class="fa-solid fa-cart-shopping fa-beat ms-1"></i></button>
                </div>
            </div>
        }
    </div>
</div>
